%text{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: $grey;
    margin-top: 1vw;
    margin-bottom: 4vw;
    font-size: 14px;
    line-height: 1.7;
}

%img{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    height:100%;
    object-fit: cover;
}

%h2{
    color: $white;
    text-align: center;
    font-size: 26px;
}

%button{
    border: 1px solid $white;
    background-color: transparent;
    color: $white;
    padding: 6px 8px;
}

%h3{
    color: $white;
    font-size: 18px;
}

%p{
    font-size: 14px;
    line-height: 1.7;
    color: $grey;
}

@mixin card-img($width, $height) {
    position: relative;
    overflow: hidden;
    width:$width;
    height:$height;
}

@mixin rhombus ($wh){
    width: $wh;
    height: $wh;
    background-color: $yellow;
    transform: rotate(45deg);
}

.menu{
    background: $backgroundMenu;
    background-size: cover;
    padding-top: 4vw;
    width: 100%;
    h2{
        @extend %h2;
    }
    span{
        color: $yellow;
    }
    .menu__text{
        margin-top: 2vw;
        @extend %text;
    }
    .menu__container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, 32.8vw));
        .card1{
            grid-template-areas: "img description";
        }
        .card2{
            grid-template-areas: "description img";
        }
        .menu__card{
            display: grid;
            grid-template-columns: repeat(2, minmax(170px, 16.4vw));
            overflow: hidden;
            .card__img{
                @include card-img(16.4vw, 16.4vw);
                grid-area: img;
                img{
                    width:100%;
                    @extend %img;
                }
            }
            .card__description{
                background-color: hsla(0, 0, 0, 30%);
                padding: 5%;
                grid-area: description;
                .price{
                    margin-top: 4px;
                    button{
                        @extend %button;
                        margin-left: 10px;
                        &:hover{
                            background-color: grey;
                        }
                    }
                }
                h3{
                    @extend %h3;
                    padding: 3px 0;
                }
                p{
                    @extend %p;
                }
            }
        }
    }
}

.pricing{
    background: $backgroundMenu;
    background-size: cover;
    padding: 5vw 0;
    h2{
        @extend %h2;
    }
    .pricing__text{
        margin-top: 1vw;
        @extend %text;
    }
    .pricing__pattern{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        hr{
            width: 55px;
            border: solid 1px $yellow;
            margin: 5px;
        }
        .small__rhombus{
            @include rhombus(8px);
            margin: 10px;
        }
        .big__rhombus{
            @include rhombus(12px);
        }
    }
    .price{
        margin: 0 14%;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 15px 10px;
        .price__item{
            display: grid;
            grid-template-rows: 40% 1fr;
            grid-template-columns: 80px 1fr 100px;
            column-gap: 10px;
    
            .card__img{
                @include card-img(70px, 70px);
                border-radius: 50%;
                grid-row: 1/3;
                img{
                    @extend %img;
                }
            }

            .pizza__name{
                display: flex;
                margin-bottom: 7px;
                .border__top{
                    border-bottom: dashed $yellow 1px;
                    width: 100%;
                }
                h3{
                    padding: {
                        top: 5px;
                        right: 22px;
                    };
                    white-space: nowrap;
                    font-size: 18px;
                    color: rgb(206, 206, 206);
                }
            }

            span{
                color: $yellow;
                align-self: end;
                justify-self: center;
                font-size: 18px;
            }
            p{
                grid-column: 2/4;
                align-self: center;
                @extend %p;
            }
        }
    }
}

.all__menu{
    background: $backgroundMenu;
    background-size: cover;
    padding-bottom: 8vw;
    display: grid;
    grid-template-columns: 30% 70%;
    .all__menu__img{
        width: 100%;
        position: relative;
        overflow: hidden;
        height: 43vw;
        img{
            width: 100%;
            @extend %img;
        }
    }
    .all__menu__main{
        .main__nav{
            margin: 3vw 3vw 4vw;
            .menu__nav{
                color: $yellow;
                border: $yellow 1px solid;
                padding: 14px;
                font-size: 18px;
                &:hover{
                    color: $black;
                    background-color: $yellow;
                }
            }
            .menu__nav__activ{
                color: $black;
                background-color: $yellow;
            }
        }
    
        .product__container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .product__item{
                width: 85%;
                justify-self: center;
                display: grid;
                justify-items: center;
                gap: 1vw;
                .item__img{
                    width: 15vw;
                    position: relative;
                    overflow: hidden;
                    height:15vw;
                    border-radius: 50%;
                    img{
                        width: 100%;
                        @extend %img;
                    }
                }
            }
    
            .item__description{
                display: grid;
                justify-items: center;
                gap: 1.5vw;
                h3{
                    @extend %h3;
                    text-align: center;
                }
                p{
                    text-align: center;
                    @extend %p;
                }
                .description__flex__container{
                    span{
                        color: $yellow;
                        font-size: 18px;
                        display: block;
                        text-align: center;
                    }
                    button{
                        @extend %button;
                        margin-top: 1.5vw;
                        &:hover{
                            background-color: grey;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 1060px){
    .menu{
        .menu__container{
            grid-template-columns: repeat(2, minmax(340px, 50vw));
            .menu__card{
                grid-template-columns: repeat(2, minmax(170px, 25vw));
                .card__img{
                    width:25vw;
                    height:25vw;
                }
            }
        }
    }

    .pricing{
        .price{
            grid-template-columns: 100%;
        }
    }

    .all__menu{
        grid-template-columns: 40% 60%;
        .all__menu__img{
            width: 300px;
        }
        .all__menu__main{
            .main__nav{
                .menu__nav{
                    padding: 10px;
                    font-size: 14px;
                }
                .menu__nav__activ{
                    color: $black;
                    background-color: $yellow;
                }
            }
            .product__container{
                grid-template-columns: 1fr;
                gap: 2vw;
                .product__item{
                    grid-auto-flow: column;
                    gap: 3vw;
                    .item__img{
                        width: 140px;
                        height: 140px;
                    }
                }
                .item__description{
                    gap: 0.5vw;
                    display: block;
                    .description__flex__container{
                        margin:{
                            top: 10px;
                            left:2vw;
                            right: 2vw;
                        };
                        display: flex;
                        justify-content: space-between;
                        button{
                            margin: 0;
                        }
                    }
                }
            }
        }
    }    
}
@media(max-width: 760px){
    .menu{
        h2{
            padding: 10vw 0 3vw;
        }
        .menu__text{
            width: 70%;
        }
        .menu__container{
            grid-template-columns: minmax(300px, 1fr);
            .menu__card{
                grid-template-columns: repeat(2, minmax(150px, 50vw));
                .card__img{
                    width:50vw;
                    height:50vw;
                }
            }
        }
    }

    .pricing{
        h2{
        padding: 7vw 0 5vw;            
        }
    }

    .all__menu{
        display: block;
        .all__menu__img{
            display: none;
        }

        .all__menu__main{
            .main__nav{
                padding: 10vw 0;
            }
            .product__container{
                .item__description{
                    padding: 0 2vw;
                    .description__flex__container{
                        margin:{
                            left: 5vw;
                            right: 5vw;
                        };
                    }
                }
            }
        }
    }
}

@media(max-width: 480px){
    .menu{
        .menu__text{
            width: 80%;
        }
    }

    .pricing{
        h2{
        padding: 15vw 0 7vw;            
        }
        .pricing__text{
            width: 80%;
        }
        .price{
            .price__item{
                display: flex;
                flex-direction: column;
                align-items: center;
                .card__img{
                    @include card-img(110px, 110px);
                }
                .pizza__name{
                    .border__top{
                        border-bottom: none;
                    }
                    div.border__top{
                        display: none;
                    }
                }
    
                span{
                    align-self: center;
                    margin: 10px 0;
                }
                p{
                    text-align: center;
                }
            }
        }
    }

    .all__menu{
        .all__menu__main{
            .product__container{
                .product__item{
                    display: grid;
                    grid-auto-flow: row;
                }
            }
        }
    }
}


