
/* ------------------HOME---------------------------- */
.home__container{
  height: 100vh;
  width:100%;
  display: flex;
  justify-content:center;
  align-items: center;
}

@media (max-width:767px){
  .wrapper{margin: 50px 10px;}
}
.slick-slider{
  min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
  /* align-items: flex-start; */
}

.slider {
  position: relative;

}

@media (max-width:767px){
  .slider {
    padding: 0px 40px;
  }
}

.slider .slick-arrow{
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}
.slider .slick-arrow.slick-prev{
  left: 0;
  background: url("assets/img/sl-arrow_l.svg") 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
  right: 0;
  background: url("assets/img/sl-arrow_r.svg") 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled{
  opacity: 0.2;
}

.slider__item {
  padding: 0px 15px;
  display: grid;
  /* grid-template-columns: 1fr; */
  align-content: center;
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  z-index: 1;
  margin: 0 auto;
  margin: 60px auto;
}
.slider__item:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.4);
  z-index: 2;
}
.home_slide-1{
  background: url("assets/img/bg_3.jpg") center no-repeat;
  grid-template-columns: 1fr;
}
.home_slide-2{
  background: url("assets/img/bg_1.jpg") center no-repeat;

}
.home_slide-3{
  background: url("assets/img/bg_1.jpg") center no-repeat;

}
.slider__item img{
  margin: auto 20px;
}
.slider__item.slick-center{

}
.slide-img-2{
  position: relative;
  max-width: 400px;
  z-index: 4;
  grid-auto-flow: column;
  grid-row: 1/3;
  grid-column: 2/3;

}
.slide-img-3{
  position: relative;
  max-width: 400px;
  z-index: 4;
  grid-column: 3/4;
  grid-row: 1/4;

}
.home_slide-2 .slide_text-content{
  grid-row: 1/4;
  grid-column: 3/4;
  text-align: left;
}
.slide_text-content {
  display: grid;
  align-items: left;
  max-width: 60%;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}
.caption-italic {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 35px;
  color: #f1c917;
  text-align: center;
  font-weight: 400;
  margin: 5px;
}
.caption-main {
  font-family: 'Molengo', sans-serif;
  font-size: 45px;
  color: #fff;
  text-transform: uppercase;
  line-height: 4rem;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 500;
  margin: 5px;
}
.caption-else {
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin: 20px auto;
}
.slide-btns {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.slide-btns button{
  margin: 10px;
  padding: 15px;
  font-family: 'Raleway', sans-serif;
}
.btn-order {
  color:rgb(30, 30, 30);
  background: #f1c917;
  border: 1px solid #f1c917;


}
.btn-view {
  color:#fff;
  border: 1px solid #fff;
  background: rgba(0,0,0,0);
}
.slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  z-index: 7;
  width: 30px;
  height: 30px;
  background-color: rgb(62, 217, 10);
  border-radius: 50%;
  left: 50%;
}
.slider .slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 7;
}
.slider .slick-dots li{
  list-style: none;
  margin: 0px 10px;

}
.slider .slick-dots button{
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: rgb(236, 11, 11);
  border-radius: 50%;
  z-index: 7;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.slider .slick-dots li.slick-active button{
  background-color: transparent;
  border: 1px solid #fff;
  z-index: 7;
  align-items: center;
}
